COMPOSE_PROJECT_NAME=maze-adventure-game

CLIENT_PORT=5173
SERVER_PORT=3000
CLIENT_ORIGIN=http://localhost:5173

POSTGRES_DB=maze_adventure
POSTGRES_USER=maze
POSTGRES_PASSWORD=maze
POSTGRES_PORT=5432

REDIS_PORT=6379
